<div class="main">
  <nav class="navbar">
      <h1><a href="#" class="navbar-brand">Task Ready</a></h1>
  </nav>
  <div class="main-content">
      <!-- You only need this form and the form-register.css -->
      <form class="form-register" method="post" action="#">
          <div class="form-register-with-email">
            <div class="form-white-background">
              <div class="form-title-row">
                <h1>Reset New Password</h1>
              </div>
              <div class="form-row">
                <label>
                    <span>New Password</span>
                    <input type="password" name="password" [(ngModel)]="password">
                </label>
              </div>
              <div class="form-row">
                <label>
                    <span>Confirm Password</span>
                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword">
                </label>
              </div>
              <div class="form-row">
                <button type="submit" (click)="resetPassword()">Reset Password</button>
                <ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "medium" color = "#d4d4d4" type = "ball-pulse" [fullScreen]="true">
                <p style="color: white" >Loading... </p>
                </ngx-spinner>
              </div>
              <button [routerLink]="['/login']">Go to Login</button>
            </div>
          </div>
      </form>
  </div>
</div>
      