<div class="main">
  <nav class="navbar navbar-expand-lg">
      <h1><a [routerLink]="['/dashboard']" class="navbar-brand">Task Ready</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/dashboard']">Home </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/profile']">Profile info</a>
              <a class="dropdown-item" [routerLink]="['/all/todo/view']">View All Tasks</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/change/password']">Change Password</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Friends
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/add/friends']">Make Friends</a>
              <a class="dropdown-item" [routerLink]="['/view/all/friends']">Friends List</a>
              <a class="dropdown-item" [routerLink]="['/friend/requests']">Friend Requests</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/notifications']">Notifications</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">SignOut</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="main-content">
      <!-- You only need this form and the form-register.css -->
      <form class="form-register" method="post" action="#">
          <div class="form-register-with-email">
            <div class="form-white-background">
              <div class="form-title-row">
                <h1>Change Password</h1>
              </div>
              <div class="form-row">
                <label>
                    <span>Current Password</span>
                    <input type="password" name="currentPassword" [(ngModel)]="currentPassword" required>
                </label>
              </div>
              <div class="form-row">
                <label>
                    <span>New Password</span>
                    <input type="password" name="newPassword" [(ngModel)]="newPassword" required>
                </label>
              </div>
              <div class="form-row">
                <label>
                    <span>Confirm Password</span>
                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                </label>
              </div>
              <div class="form-row">
                <button type="submit" (click)="changeExistingPassword()">Change Password</button>
                <ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "medium" color = "#d4d4d4" type = "ball-pulse" [fullScreen]="true">
                  <p style="color: white" >Loading... </p>
                  </ngx-spinner>
              </div>
            </div>
          </div>
      </form>
  </div>
</div>
<ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen]="true">
    <p style="color: white" > Loading... </p>
    </ngx-spinner>