<div class="main">
  <nav class="navbar">
      <h1><a href="#" class="navbar-brand">Task Ready</a></h1>
  </nav>
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>We have sent an email to you with the password reset link. We request you to check your inbox and rest the password.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn" (click)="resendEmail()">Re-send the email</button>
        </div>
      </div>
    </div>
  </div>
</div>