<div class="main">
  <nav class="navbar">
      <h1><a href="#" class="navbar-brand">Task Ready</a></h1>
  </nav>
  <div class="main-content">
    <form class="form-register" method="post" action="#">
      <div class="form-register-with-email">
        <div class="form-white-background">
          <div class="form-title-row">
          <h1>Provide Your Registered Email Address</h1>
          </div>
          <div class="form-row">
          <label>
              <span>Email</span>
              <input type="email" name="email" [(ngModel)]="email" required>
          </label>
          </div>
          <button type="submit" (click)="sendForgotPassword()">Done</button>
        </div>
      </div>
    </form>
  </div>
</div>